<div class="section-page-advantage">
<div class="page-width">

    {% if section.settings.title != blank %}
      <div class="section-block__header text-center">
        <h4 class="h1--mini section-block__title">{{ section.settings.title | escape }}</h4>
      </div>
    {% endif %}

    <div class="flex flex--grid flex--grid-center">
      {% for block in section.blocks %}
        <div class="flex__item flex__item--fixed flex flex--center-vertical one-whole medium-up--one-third text-center" {{ block.shopify_attributes }}>
          <div class="card-item">
            <h4>{{ block.settings.heading }}</h4>
            <div class="flex__item">
              <div class="image-block">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | img_url: '250x250' }}" alt="{{ block.settings.image.alt }}" class="image-block__image">
                {% else %}
                  <div class="image-block__image">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="caption">{{ block.settings.caption }}</div>
          </div>
        
        </div>
      {% endfor %}


    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>
</div>

<style>
  .main-content {
    margin-top: 0;
  }

  .flex__item--fixed {
    padding: 20px !important;
  }

  .card-item {
    padding: 1rem;
        background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 20px 3px rgb(0 0 0 / 15%);
  }

  .image-block img {
    height: 200px;
  }

</style>

{% schema %}
{
  "name": {
    "en": "Logo list - our advantage"
  },
  "class": "index-section",
  "max_blocks": 20,
  "blocks": [
    {
      "type": "logo",
      "name": {
        "en": "Logo"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "text",
          "id": "heading",
          "label": {
            "en": "Heading"
          }
        },
        {
          "type": "richtext",
          "id": "caption",
          "label": {
            "en": "Caption"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Logo list - our advantage"
      },
      "category": {
        "en": "Image"
      },
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}